.idea {
  padding: 100px 100px 50px 195px;
}

.idea__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  padding-top: 40px;
}

.person {
  font-size: 15px;
  line-height: 18px;
}

.date {
  font-size: 12px;
  line-height: 14px;
  padding-top: 7px;
}

.idea__content {
  max-width: 856px;
  min-height: 151px;
  margin-top: 36px;

  p {
    font-size: 18px;
    line-height: 170%;
    color: #3d3d3d;
  }
}

.icons {
  display: flex;
  margin-top: 70px;
}
.like-icon {
  display: flex;

  p {
    font-size: 13px;
    line-height: 170%;
    padding-right: 20px;
    color: #2b2828;
  }
}
.comment-icon {
  display: flex;

  p {
    font-size: 13px;
    line-height: 170%;
    padding-right: 20px;
    color: #2b2828;
  }
}

.avatar {
  display: grid;
  width: 46px;
  height: 46px;
  border: 0.5px solid #832161;
  border-radius: 50%;
  text-transform: uppercase;
  margin-right: 15px;
  place-items: center;
}

.idea__author {
  display: flex;
  margin-top: 20px;
}

.header {
		display:flex;
		margin-top: 43px;
		margin-left: 32px;
		 
		.p {
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
      font-style: normal;
			color: #000000;
	    }
}

.comment-textbox {
	width: 344px;
	height: 60px;
  margin-left: 32px;
  margin-top: 38px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-style: none; 
  border-color: Transparent; 
  resize: none;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  font-family: 'id-normal';
  outline:none;
  padding-left: 21px;
  padding-top:18px;

  &::placeholder {
    line-height: 12px;
    font-weight: normal;
    font-family: 'id-normal';
    color: rgba(0, 0, 0, 0.3);
    
   
   

  }

}

