
.preview {
    padding-top: 68px;
    padding-bottom: 70px;
}

.title {
    border-style: none; 
    border-color: Transparent; 
    // overflow-y: hidden;
    margin-top: 93px;     
    margin-left: 195px;
    width :1000px;
    height:65px;
    outline: none;
    line-height: 65px;
    font-size:40px;
    font-weight:500;
    resize: none;

    &::placeholder {
        font-family: 'id-normal';
        font-weight:'normal';
        color: rgba(0, 0, 0, 0.3);
    }
}

.idea-text {   
    border-style: none; 
    border-color: Transparent; 
    // overflow-y: hidden;     
    margin-left: 195px;
    margin-top:15px;
    width :1000px;
    height:300px;
    outline: none;
    resize: none;
    line-height: 55px;
    font-size:25px;
    

    &::placeholder{
        font-family: 'id-normal';     
        color: rgba(0, 0, 0, 0.3);          
      }
    
	}
	
	.publish-card {
		position: absolute !important;
		width: 1047px;
		height: 558px;
		left: 195px;
		top: 121px;
		background: #ffffff;
		padding: 0 87px 0 95px;
		z-index: 1;
	
		section {
			display: grid;
			grid-template-columns: 1.4fr 1fr;
		}
	}

	.title-input {
		width: 316px !important;
		height: 40px;
		background: rgba(225, 230, 235, 0.35) !important;
		border-radius: 3px;
		margin-bottom: 40px;
		margin-right: 70px;
	}
	
	.summary-field {
		width: 316px !important;
		height: 82px;
		border-radius: 3px;
		margin-bottom: 40px;
		background: rgba(225, 230, 235, 0.35) !important;
		margin-right: 70px;
		border-color: #E1E6EB;
		padding: 10px;
		outline: none;

	}

	.publish-button {
		margin-top: 85px;
	}

