.message {
    font-size: 40px;
    line-height: 50px;
    color: #0000004d;
}

.colored-message {
    font-size: 40px;
    line-height: 50px;
    color: #832161;
}

.img {
    padding-top: 80px;
}

.sign-up-form {
  position: absolute;
  width: 594px;
  height: 609px;
  left: 662px;
  top: 126px;
  padding-left: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  hr {
    height: 0px;
    border: 0.5px solid #e1e6eb;
    margin-bottom: 34px; 
  }
}

.signup-header {
  padding-top: 33px;
  width: 60px;
  height: 19px;
  padding-bottom: 20px;
  color: #5a646a;
}

.sign-up-text {
  height: 20px;
  font-size: 12px;
  line-height: 19px;
  padding-bottom: 15px;
  color: rgba(90, 100, 106, 0.5);
}

.sign-up-bottom {
  display: flex;
  position: relative;

  p {
  color: rgba(90, 100, 106, 0.5);
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
  line-height: 19px;
  }

}

.welcome {
    width: 422px;
    margin-top: 180px;
}

.sign-up-container {
    padding-left: 150px;
}